* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 2;
  margin: 24px 0;
}

h1 {
  font-size: 80px;
  font-family: "Roboto Slab", serif;
  color: #fff;
}

h2 {
  font-size: 40px;
  font-family: "Roboto Slab", serif;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

header {
  background: linear-gradient(180deg, #1a276b, #5268e0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subheading-container {
  background: white;
  width: 370px;
  padding: 8px 24px;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1);
}

section {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

section .image-container {
  height: 400px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-shrink: none;
}

section .image-container img {
  height: 300px;
}

section .description {
  padding: 24px;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background: #222;
  padding: 24px;
  color: white;
  text-align: center;
}
